version: '3.8'

services:
  web:
    build: .
    command: /entrypoint.sh
    volumes:
      - ./src:/app/src
    ports:
      - "8000:8000" # Volta a expor a 8000 para acesso direto
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=traccar
      - POSTGRES_USER=traccar
      - POSTGRES_PASSWORD=Memy2806@
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
